@import "../../scss/variables";

.gallery {
    position: fixed;
    top: 0;
    //display: flex;
    //align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 9999999;
    background-color: rgba(255, 255, 255, 0.95);
    //background-image: $noise;
    animation: gallery-fade-in 250ms forwards;
}

.gallery-slider {
    height: 80vh;
}

.gallery-img-container {
    position: relative;
    height: 80vh;
}
.gallery-img {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 70vw;
    max-height: 60vh;
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: $borderRadiusParent;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.gallery-button-center {
    gap: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999999999;
}
.gallery-button-next {
    right: 30px;
}
.gallery-button-prev {
    left: 30px;
}

.gallery-button-close {
    gap: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width: 1280px) {
    .gallery-button-center {
        top: unset;
        bottom: 30px;
        transform: none;
    }
    
}
@media screen and (max-width: 960px) {
    .gallery-slider {
        height: 75vh;
    }
    .gallery-img-container {
        height: 75vh;
    }
    .gallery-img {
        max-width: 90vw;
        max-height: 50vh;
        border-radius: calc($borderRadiusParent - 10px);
    }
}
@media screen and (max-width: 560px) {
    .gallery-img {
        border-radius: calc($borderRadiusParent - 20px);
    }
}

@keyframes gallery-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
