@import "../../scss/variables";

.content-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    padding-bottom: 40px;
    line-height: 1.5;
    color: $textColor;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: calc($borderRadiusChild - 10px);
    background-color: $elementBgColorTransparent;
}
.content-card-icon {
    display: grid;
    place-items: center;
    width: 75px;
    height: 75px;
    margin-bottom: 30px;
    font-size: 30px;
    border-radius: 50%;
    background-color: $elementHighlightBgColor;
}
.content-card-heading {
    font-size: 20px;
    font-weight: 600;
}
.content-card-paragraph {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-start;
    font-size: $bodyFontSize;
    margin-top: 15px;
}
.content-card-category {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 15px 5px 10px;
    margin-top: 5px;
    border-radius: $borderRadiusParent;
    background-color: $elementHighlightBgColor;
}
.dest-description > h3 {
    font-size: 24px;
}
.dest-description > .content-card-paragraph > p {
    padding: 15px 0;
}

// Media queries
@media screen and (max-width: 1440px) {
    .content-card {
        padding: 25px;
        padding-bottom: 35px;
    }
    .content-card-icon {
        width: 65px;
        height: 65px;
        margin-bottom: 25px;
        font-size: 25px;
    }
    .content-card-heading {
        font-size: 18px;
    }
}
@media screen and (max-width: 1280px) {
    .content-card {
        padding: 30px;
        padding-bottom: 40px;
    }
    .content-card-category {
        font-size: 16px;
    }
}
@media screen and (max-width: 960px) {
    .content-card {
        padding: 30px;
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 560px) {
    .content-card-icon {
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
        font-size: 20px;
    }
    .content-card-heading {
        font-size: 18px;
    }
    .content-card-paragraph {
        font-size: 16px;
    }
}
