@import "../../scss/variables";

.dest-show {
    display: flex;
    justify-content: center; // center content on resolutions wider than 1920px
    padding: 120px 25px 50px 25px;
    color: $textColor;
    background-color: $bgColor;
}
.dest-show-container {
    display: grid;
    grid-template-columns: 55% calc(45% - 10px);
    grid-template-rows: 400px 1fr auto;
    gap: 10px;
    max-width: 1920px; // restrict content to 1920px width
}

.dest-heading,
.dest-image-section,
.dest-main-section {
    border-radius: $borderRadiusParent;
}
.dest-heading {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 45px 90px;
    // background: linear-gradient(160deg, #cee3f5 30%, #e1936f 75%, #dd4444);
    background: linear-gradient(160deg, #376e6f 0%, #a8d0e6 30%, #f8e9a1 70%);
}

.dest-sub-heading {
    font-size: $subHeadingFontSize;
}
.dest-main-heading {
    font-size: $mainHeadingFontSize;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 25px;
}

.dest-image-section {
    position: relative;
    height: 550px;
    outline: 10px solid $bgColor;
    background-color: $primaryColor;
    z-index: 2;
}
.dest-main-image {
    position: absolute;
    inset: 15px;
    border-radius: $borderRadiusChild;
    overflow: hidden;
}
.dest-main-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.dest-main-section {
    grid-column: 1 / 3;
    color: $elementTextColor;
    background: url("../../assets/scatter.png"),
        // fix for gradient banding
        // linear-gradient(155deg, #d3926c, #2e405b);
        linear-gradient(155deg, #f8e9a1, #a8d0e6, #376e6f);
}
.dest-main-section-wrapper {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
}
.dest-main-section-left-side,
.dest-main-section-right-side {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
}
.dest-main-section-left-side {
    flex-basis: 53%;
}
.dest-main-section-right-side {
    flex-basis: 47%;
    padding-left: 80px;
}
.dest-description {
    padding: 50px !important;
}

.dest-quick-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 40px;
    margin-top: 150px;
    z-index: 2;
}

.dest-map-container {
    flex-basis: 53%;
}
.dest-map {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: $borderRadiusChild;
}
.dest-bus-schedules {
    flex-basis: 450px;
}

.dest-main-section-suggested {
    flex-basis: 100%;
    margin-top: 40px;
}
.dest-suggested-heading {
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 48px;
}
.dest-suggested-cards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.dest-footer {
    grid-column: 1 / 3;
    display: grid;
    place-items: center;
    height: 300px;
    border-radius: $borderRadiusParent;
    background-color: $primaryColor;
}
.dest-footer-heading {
    font-size: 48px;
}

// Media queries
@media screen and (max-width: 1440px) {
    .dest-show-container {
        grid-template-rows: 350px 1fr auto;
    }
    .dest-heading {
        padding: 35px 70px;
    }
    .dest-sub-heading {
        font-size: calc($subHeadingFontSize - 4px);
    }
    .dest-main-heading {
        font-size: calc($mainHeadingFontSize - 15px);
    }
    .dest-image-section {
        height: 500px;
    }
    .dest-main-section-wrapper {
        padding: 30px;
    }
    .dest-main-section-left-side,
    .dest-main-section-right-side {
        gap: 30px;
    }
    .dest-description {
        padding: 40px !important;
    }
    .dest-quick-info {
        gap: 30px;
    }
}

@media screen and (max-width: 1280px) {
    .dest-show-container {
        grid-template-rows: 300px 1fr auto;
    }
    .dest-heading {
        padding: 25px 50px;
    }
    .dest-sub-heading {
        font-size: calc($subHeadingFontSize - 8px);
    }
    .dest-main-heading {
        font-size: calc($mainHeadingFontSize - 25px);
    }
    .dest-image-section {
        height: 450px;
    }
    .dest-main-section-wrapper {
        padding: 20px;
    }
    .dest-main-section-left-side,
    .dest-main-section-right-side {
        gap: 20px;
    }
    .dest-main-section-left-side {
        flex-basis: calc(53% - 10px);
    }
    .dest-main-section-right-side {
        padding-left: 0px;
    }
    .dest-description {
        padding: 30px !important;
    }
    .dest-quick-info {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 20px;
    }
    .dest-main-section-right-side {
        flex-basis: 46%;
    }
    .dest-suggested-cards {
        flex-direction: column;
        gap: 20px;
    }
}
@media screen and (max-width: 960px) {
    .dest-show {
        background-image: linear-gradient(to bottom, $bgColor, #f8e9a1 5%, #a8d0e6, #376e6f);
        background-position: 0 840px;
        background-repeat: no-repeat;
    }
    .dest-show-container {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 400px 1fr auto;
    }
    .dest-heading,
    .dest-image-section,
    .dest-main-section {
        border-radius: calc($borderRadiusParent - 10px);
    }
    .dest-heading {
        width: calc(100% + 10px);
    }
    .dest-image-section {
        grid-row: 2 / 3;
        width: calc(100% + 10px);
        height: auto;
    }
    .dest-main-image {
        border-radius: calc($borderRadiusChild - 10px);
    }
    .dest-main-section {
        background: none;
    }
    .dest-main-section-wrapper {
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }
    .dest-main-section-left-side,
    .dest-main-section-right-side {
        gap: 10px;
    }
    .dest-main-section-right-side {
        padding-left: 0;
    }
    .dest-quick-info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
        margin-top: 0;
    }
}
@media screen and (max-width: 560px) {
    .dest-show {
        padding: 100px 10px 50px 10px;
        background-position: 0 720px;
    }
    .dest-show-container {
        grid-template-rows: 300px 300px 1fr auto;
    }
    .dest-heading,
    .dest-image-section,
    .dest-main-section {
        border-radius: calc($borderRadiusParent - 20px);
    }
    .dest-heading {
        padding: 25px 50px;
    }
    .dest-sub-heading {
        padding-bottom: 5px;
        font-size: calc($subHeadingFontSize - 8px);
    }
    .dest-main-heading {
        font-size: calc($mainHeadingFontSize - 35px);
    }
    .dest-main-cta {
        align-self: stretch;
        justify-content: center;
        font-size: 16px !important;
    }
    .dest-main-cta > span {
        font-size: 20px !important;
        padding-right: 5px !important;
    }
    .dest-main-image {
        border-radius: calc($borderRadiusChild - 20px);
    }
    .dest-quick-info {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
    .dest-suggested-cards {
        gap: 10px;
    }
}

@media screen and (min-width: 961px) {
    .dest-heading::after {
        // border radius fix
        content: "";
        position: absolute;
        bottom: calc($borderRadiusParent * -1 - 20px);
        right: 0;
        width: calc($borderRadiusParent * 2);
        height: calc($borderRadiusParent + 10px);
        border-radius: $borderRadiusParent $borderRadiusParent 0 0;
        box-shadow: 52px -17px $bgColor;
        transform: rotate(-1deg);
    }
    .dest-main-section-wrapper::after {
        // border radius fix
        content: "";
        position: absolute;
        top: 150px;
        right: 0;
        width: calc($borderRadiusParent * 2);
        height: calc($borderRadiusParent + 40px);
        border-radius: $borderRadiusParent $borderRadiusParent 0 0;
        box-shadow: 65px -42px $bgColor;
    }
}
