@import "../../scss/variables";

.navigation-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100px;
    transition: opacity 200ms, background-color 200ms, height 150ms;
}

.nav-hidden {
    opacity: 0;
    height: 0;
}
.nav-minimized {
    height: 75px;
    background-color: #fff;
    box-shadow: 0 1px 4px #aaa;
}

.nav-link > a {
    display: block;
    padding: 12px 10px;
    color: inherit;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    transition: border-color 250ms;
}
.nav-link > a:hover {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .25);
}
.nav-link span {
    font-size: 30px;
}
.nav-link .search-open {
    // padding-top: 3px;
}

.nav-logo {
    padding-top: 5px;
}
.nav-logo > img {
    height: 30px;
}

.nav-search {
    display: flex;
    justify-content: center;
    padding: 0 20px 20px 20px;
    background-color: $bgColor;
}
.nav-search > form {
    
}
.nav-search > form > input {
    
}

@media screen and (max-width: 960px) {
    nav {
        height: 100px
    }
}
@media screen and (max-width: 560px) {
    .nav-minimized {
        height: 60px;
    }
    .nav-link span {
        font-size: 24px;
    }
    .nav-logo > img {
        height: 24px;
    }
}