@import "../../scss/variables";

.navigation-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 150px;
    transition: opacity 200ms, background-color 200ms, height 150ms;
}

.nav-hidden {
    opacity: 0;
}
.nav-minimized {
    //background-image: $noise;
    height: 75px;
    background-color: #fff;
    
}

.nav-link > a {
    color: inherit;
}
.nav-link span {
    font-size: 30px;
}

.nav-logo span {
    font-size: 75px;
}

@media screen and (max-width: 960px) {
    nav {
        height: 100px
    }
}