@import "../../scss/variables";

.card-link {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: $textColor;
}

.top-pick-card-wrapper .card-link {
    // border-radius: calc($borderRadiusChild - 4px);
    // overflow: hidden;
}

.dest-card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: calc($borderRadiusChild - 10px);
    background-color: $elementBgColorTransparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow: hidden;
}

.dest-card-container {
    height: 100%;
    // padding: 5px;
}

.dest-suggested-card {
    height: auto;
    width: 100%;
}

.dest-suggested-card:hover {
    background-color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .95);
}


.dest-card-description {
    width: 100%;
    padding: 15px 45px;
}

.dest-card-heading {
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 1;
}

.dest-card-location {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.dest-card-sub-heading {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 16px;
    padding-bottom: 10px;
}

.dest-card-location>span,
.dest-card-sub-heading>span {
    font-size: 20px;
}

.dest-card-img {
    height: 200px;
}

.dest-card-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    // border-radius: calc($borderRadiusChild - 5px) calc($borderRadiusChild - 5px) 15px 15px;
}

.dest-card-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.dest-card-categories>.content-card-category {
    padding: 5px 10px;
    font: 14px;
}

.searched-destinations .dest-card {
    height: 100%;
    border-width: 3px;
    border-style: solid;
    background-color: #fff;
}
.searched-destinations .dest-card-img {
    height: 100px;
}
.searched-destinations .dest-card-heading {
    font-size: 16px;
}
.searched-destinations .dest-card-sub-heading {
    font-size: 14px;
}
.searched-destinations .dest-card-description {
    padding: 10px 15px 25px 15px;
}
.searched-destinations .content-card-category {
    font-size: 14px;
    border: 1px solid #bbb;
}

@media screen and (max-width: 1280px) {

    // .dest-card-description {
    //     padding: 10px 5px;
    // }
    .dest-card-heading {
        font-size: 16px;
    }

    // .dest-card-img > img {
    //     border-radius: calc($borderRadiusChild - 6px) calc($borderRadiusChild - 6px) 15px 15px;
    // }
}

@media screen and (max-width: 960px) {
    .top-pick-card-wrapper {
        width: 100%;
    }
    // .dest-card-img > img {
    //     border-radius: calc($borderRadiusChild - 16px) calc($borderRadiusChild - 16px) 15px 15px;
    // }
    .searched-destinations .dest-card-img {
        display: none;
    }
    .searched-destinations .dest-card-heading {
        padding-top: 20px;
    }
}

@media screen and (max-width: 560px) {
    .top-pick-card {
        border-radius: 44px;
    }
    .dest-card-img {
        height: 120px;
    }

    .dest-card-description {
        padding: 15px 35px;
    }
    .searched-destinations .dest-card {
        border-radius: calc($borderRadiusChild - 22px);
    }
    .searched-destinations .dest-card-heading {
        padding-top: 10px;
    }
    .searched-destinations .content-card-category {
        padding: 0;
    }
}

@media screen and (min-width: 561px) {
    .card-link {
        // border-radius: 44px !important;
    }
    .top-pick-card {
        height: 320px;
        border-color: #fff;
        border-radius: 44px;
    }
    .top-pick-card .dest-card-description {
        padding: 20px 25px;
    }
    .top-pick-card .dest-card-img {
        height: 140px;
    }
}
@media screen and (min-width: 961px) {
    .top-pick-card {
        width: 100%;
        height: 250px;
        border-color: #fff;
        border-radius: calc($borderRadiusChild - 4px);
    }
    .top-pick-card .dest-card-description {
        padding: 10px 15px;
    }
    .top-pick-card .dest-card-img {
        height: 110px;
    }

    .top-pick-card-overlay {
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;
        border: 1px solid rgba(29, 124, 212, .4);
        border-radius: calc($borderRadiusChild - 4px);
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-transform: uppercase;
        font-size: 16px !important;
        font-weight: 900;
        font-family: "Merriweather", serif;
        background-color: #fff;
        transition: opacity 150ms 50ms;
        overflow: hidden;
    }
    .top-pick-card-overlay:hover {
        opacity: 0;
    }
    .top-pick-card-overlay > span:nth-child(2) {
        display: block;
        position: absolute;
        left: -5px;
        font-size: 64px;
        text-wrap: nowrap;
        color: $primaryColor;
        opacity: .3;
    }
    .top-pick-card .dest-card-heading {
        font-size: 16px;
    }
    .top-pick-card .dest-card-sub-heading {
        font-size: 14px;
    }
    .top-pick-card .dest-card-description {
        padding: 10px 15px;
    }
    .top-pick-card .dest-card-categories {
        gap: 2px;
    }
    .top-pick-card .content-card-category {
        font-size: 12px !important;
    }
    .top-pick-card .dest-card-img {
        height: 90px;
    }
    .top-pick-card-overlay {
        font-size: 24px;
    }
    // .top-pick-card-1 + .top-pick-card-overlay > span:nth-child(2) {
    //     left: -15px;
    //     font-size: 84px;
    // }
    // .top-pick-card-2 + .top-pick-card-overlay > span:nth-child(2) {
    //     font-size: 36px;
    //     text-wrap: nowrap;
    // }
    // .top-pick-card-3 + .top-pick-card-overlay > span:nth-child(2) {
    //     font-size: 68px;
    // }
}
@media screen and (min-width: 1441px) {
    .top-pick-card {
        height: 320px;
    }
    .top-pick-card-overlay {
        font-size: 20px !important;
    }
    .top-pick-card .dest-card-img {
        height: 130px;
    }

    // .top-pick-card-1 + .top-pick-card-overlay > span:nth-child(2) {
    //     left: -20px;
    //     font-size: 96px;
    // }
    // .top-pick-card-2 + .top-pick-card-overlay > span:nth-child(2) {
    //     font-size: 36px;
    //     text-wrap: nowrap;
    // }
    // .top-pick-card-3 + .top-pick-card-overlay > span:nth-child(2) {
    //     font-size: 68px;
    // }
}