@import "../../scss/themes";

.destination-card-container {
    border-radius: 45px;
    @include themify($themes) {
        border: 3px solid themed("secondaryColor");
        box-shadow: themed("shadowColor") 0px 3px 8px;
    }
}