@import "../../scss/variables";

.button {
    position: relative;
    border: none;
    border-radius: $borderRadiusChild;
    padding: 15px 25px;
}
.button:not(.button-dest-gallery-open) {
    overflow: hidden;
}
.button:not(.button-dest-gallery-open) > span:first-child {
    font-size: 24px;
    padding-right: 7px;
}
.button-content {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 150ms 50ms ease-out;
}
.button-content:nth-child(2) {
    position: absolute;
    bottom: -60px;
    z-index: 99;
}
.button-content > span:nth-child(2) {
    font-size: $bodyFontSize;
    padding-left: 7px;
}
.button:hover > .button-content {
    transform: translateY(-75px);
}

.button-dest-gallery-open:hover > .button-content {
    transform: none;
}
.button-dest-gallery-open > .button-content:nth-child(2) {
    color: $textColor;
}

.button-hover-overlay {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 50% 50% 0 0;
    transition: height 150ms, width 150ms, border-color 150ms;
    background-color: #fff;
}
.button:not(.button-dest-gallery-open):hover > .button-hover-overlay {
    height: 100px;
}

.button-primary {
    background-color: $primaryColor;
}

.button-secondary {
    background-color: $secondaryColor;
}

.button-submit {
    background-color: red;
}

.button-dest-gallery-open {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 45px;
    outline: 15px solid $primaryColor;
    border: none;
    border-radius: 50%;
    color: $elementTextColor;
    background-color: rgba(0, 0, 0, 0.75);
    transition: color 150ms, background-color 150ms;
}
.button-dest-gallery-open:hover {
    color: $textColor;
    background-color: #fff;
}
.button-dest-gallery-open:hover > span > span {
    transition: transform 150ms;
}
.button-dest-gallery-open:hover > span > span {
    transform: scale(1.5);
}
.button-dest-gallery-open > span {
    font-size: 35px;
}
.button-dest-gallery-open::before {
    // inverted border radius
    content: "";
    position: absolute;
    bottom: -1px;
    left: -56px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 25px 20px $primaryColor;
}
.button-dest-gallery-open::after {
    // inverted border radius
    content: "";
    position: absolute;
    top: -57px;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 20px 25px $primaryColor;
    //background-color: red;
}

// Media queries
@media screen and (max-width: 960px) {
    .button-dest-gallery-open {
        padding: 35px;
    }
    .button-dest-gallery-open:hover > .button-content {
        transform: translateY(-95px);
    }
    .button-dest-gallery-open > span {
        font-size: 30px;
    }
    .button-dest-gallery-open::before,
    .button-dest-gallery-open::after {
        width: 40px;
        height: 40px;
    }
    .button-dest-gallery-open::before {
        bottom: 1px;
        left: -49px;
        box-shadow: 20px 15px $primaryColor;
    }
    .button-dest-gallery-open::after {
        top: -49px;
        right: 0;
        box-shadow: 15px 20px $primaryColor;
    }
}
@media screen and (max-width: 560px) {
    .dest-main-cta {
        width: 100%;
    }
    .button-dest-gallery-open {
        padding: 30px;
    }
    .button-dest-gallery-open:hover > .button-content {
        transform: translateY(-90px);
    }
    .button-dest-gallery-open > span {
        font-size: 25px;
    }
}
