@import "../../scss/variables";

.home {
    display: flex;
    justify-content: center; // center content on resolutions wider than 1920px
    padding: 100px 30px 20px 20px;
    color: $textColor;
    background-color: $bgColor;
}

.home-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 500px auto auto;
    gap: 10px;
    width: 100%;
    max-width: 1920px; // restrict content to 1920px width for higher screen res
}

.home-heading,
.home-top-picks-section,
.home-center-image-section,
.home-main-section {
    border-radius: $borderRadiusParent;
}

.home-heading {
    position: relative;
    padding: 70px 90px;
    // background-color: #ccc;
    // background-image: $noise, radial-gradient(at -50% 0%, hsla(47, 100%, 61%, 1) 0px, transparent 50%),
    //     radial-gradient(at 100% -30%, hsla(201, 85%, 38%, 0.5) 0px, transparent 50%),
    //     radial-gradient(at 100% 80%, hsla(201, 85%, 38%, 0.5) 0px, transparent 35%),
    //     radial-gradient(at 45% 90%, $bgColor 0px, transparent 25%);

    background: #fff;
    background-image: $noise, linear-gradient(120deg, rgba(255,213,61,1) 5%, rgb(255, 233, 151) 15%, rgba(255,255,255,1) 40%);
}

.home-main-heading {
    font-size: 66px;
    line-height: 1;
    // text-shadow: 5px 5px 4px #aaa;
    text-shadow: -2px -2px 2px $primaryColor;
}

.home-sub-heading {
    font-size: 22px;
    padding-top: 15px;
}

.home-top-picks-section {
    position: relative;
    background-image: $noise;
    background: #fff;
    background-image: $noise, linear-gradient(60deg, rgba(255,255,255,1) 60%, rgba(189,217,243,1) 75%, $accentColor 100%);
    overflow: hidden;
}

.home-top-picks-section>h2 {
    padding: 70px 90px;
    font-size: 48px;
    line-height: 1;
}

.home-top-picks-section>h2>span {
    display: block;
    font-size: 74px;
}

.home-top-picks {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    display: flex;
    // gap: 10px;
    height: 100%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0);
    transition: transform 250ms, background-color 500ms;
    z-index: 9999;
}

.home-search-section {
    position: absolute;
    top: 378px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    max-width: 1000px;
    height: 150px;
    z-index: 9999;
}

.home-search-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 50px;
    background-color: $primaryColor;
}

.home-center-image-section {
    position: relative;
    grid-column: 1 / 3;

    background: {
        image: url("../../assets/pexels-markus-winkler-3581824.jpg");
        position: 100% 90%;
        repeat: no-repeat;
        //attachment: fixed;
        size: cover;
    }

    z-index: 999;
}

.home-main-section {
    position: relative;
    grid-column: 1 / 3;
    height: 100vh;
    overflow: hidden;
}

.home-footer {
    grid-column: 1 / 3;
    z-index: 9999999;
}

@media screen and (max-width: 1440px) {
    .home-heading {
        padding: 70px 70px;
    }
    .home-main-heading {
        font-size: 56px;
    }

    .home-top-picks-section>h2 {
        padding: 70px 70px;
        font-size: 38px;
    }

    .home-top-picks-section>h2>span {
        font-size: 59px;
    }

    .home-top-picks {
        left: 60%;
    }

    .home-search-section {
        width: 60%;
    }
}

@media screen and (max-width: 1280px) {
    .home-main-heading {
        font-size: 48px;
    }

    .home-sub-heading {
        font-size: 20px;
    }

    .home-top-picks-section>h2 {
        font-size: 32px;
    }

    .home-top-picks-section>h2>span {
        font-size: 49px;
    }
}

@media screen and (max-width: 960px) {
    .home {
        padding: 100px 10px 20px 10px;
    }

    .home-container {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 130px 200px auto auto auto;
    }

    .home-heading,
    .home-search-section,
    .home-top-picks-section {
        //grid-column: 1 / 3;
    }

    .home-heading,
    .home-top-picks-section,
    .home-search-container,
    .home-center-image-section,
    .home-main-section {
        border-radius: calc($borderRadiusParent - 20px);
    }

    .home-search-section {
        grid-row: 2 / 3;
        //position: relative;
        top: 360px;
        left: auto;
        width: calc(100% - 20px);
        height: 130px;
        transform: none;
    }

    .home-search-section.search-animate-down {
        height: 130px;
        padding-bottom: 20px;
    }

    .home-search-container {
        border: none;
    }

    .home-top-picks-section {
        grid-row: 4 / 5;
    }

    .home-top-picks-section>h2 {
        padding: 50px 30px 15px 50px;
        font-size: 32px;
        line-height: 1;
    }

    .home-top-picks-section>h2>span {
        display: inline;
        font-size: inherit;
    }

    .home-top-picks {
        position: relative;
        left: auto;
        top: auto;
        height: 350px;
        gap: 10px;
    }
    .top-pick-card-overlay {
        display: none;
    }

    .home-center-image-section {
        grid-row: 3 / 4;
        grid-column: auto;
    }

    .home-main-section {
        grid-row: 5 / 6;
        grid-column: auto;
    }

    .home-footer {
        grid-row: 6 / 7;
        grid-column: auto;
    }
}

@media screen and (max-width: 560px) {
    .home-heading,
    .home-top-picks-section,
    .home-search-container,
    .home-center-image-section,
    .home-main-section {
        border-radius: calc($borderRadiusParent - 20px);
    }

    .home-container {
        grid-template-columns: 1fr;
        grid-template-rows: 215px 340px auto auto auto;
    }

    .home-heading {
        padding: 55px 50px;
    }

    .home-main-heading {
        font-size: 32px;
    }

    .home-sub-heading {
        font-size: 16px;
    }

    .home-center-image-section {
        display: none;
    }

    .home-top-picks {
        grid-row: 4 / 5;
        flex-direction: column;
        height: auto;
    }

    .home-top-picks-section>h2 {
        padding: 50px 30px 15px 50px;
        font-size: 28px;
    }

    .home-search-section {
        top: 325px;
        height: 340px;
    }

    .home-search-section.search-animate-down {
        display: none;
    }

    .home-main-section {
        grid-row: 3 / 4;
        min-height: 600px;
    }

    .home-footer {
        grid-row: 5 / 6;
    }
}

@media screen and (min-width: 961px) {
    .home-heading::after {
        // border radius fix
        content: "";
        position: absolute;
        bottom: 72px;
        right: 0;
        width: calc($borderRadiusParent * 2);
        height: calc($borderRadiusParent * 2);
        border-radius: 50%;
        box-shadow: 70px 70px $bgColor;
    }

    .home-top-picks-section::before {
        content: "";
        position: absolute;
        bottom: 72px;
        left: 0;
        width: calc($borderRadiusParent * 2);
        height: calc($borderRadiusParent * 2);
        border-radius: 50% 0 0 50%;
        box-shadow: -15px 50px $bgColor;
    }

    .home-search-section-border-fix::before {
        content: "";
        position: absolute;
        top: 0px;
        left: -71px;
        width: $borderRadiusParent;
        height: $borderRadiusParent;
        border-radius: 50%;
        background-color: $bgColor;
        background-image: $noise;
        background-color: #fff;
    }

    .home-search-section-border-fix::after {
        content: "";
        position: absolute;
        top: 0px;
        right: -71px;
        width: $borderRadiusParent;
        height: $borderRadiusParent;
        border-radius: 50%;
        background-image: $noise;
        background-color: $elementBgColor;
        background-color: #fff;
    }

    .home-search-container-border-fix::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: -70px;
        width: $borderRadiusParent;
        height: $borderRadiusParent;
        border-radius: 50%;
        box-shadow: 35px -40px $bgColor;
        z-index: -1;
    }

    .home-search-container-border-fix::after {
        content: "";
        position: absolute;
        bottom: -4px;
        right: -70px;
        width: $borderRadiusParent;
        height: $borderRadiusParent;
        border-radius: 50%;
        box-shadow: -35px -40px $bgColor;
        z-index: -1;
    }
    .search-animate-up .home-search-container {
        border: 10px solid $bgColor;
    }
}

@media screen and (min-width: 961px) {
    .home-top-picks {
        left: 40%;
        right: 10px;
        height: 80%;
    }
    .top-pick-card-wrapper {
        box-sizing: content-box;
        position: relative;
        width: 31.75%;
        padding: 0 4px;
        transition: width 100ms;
    }

    .top-pick-card-hovered {
        width: 60%;
    }

    .top-pick-card-minimized {
        width: 20%;
    }
}
@media screen and (min-width: 1441px) {
    .home-top-picks {
        left: 50%;
        right: 0;
        height: 100%;
    }
    
}