@import "../../scss/variables";

.home-search-container form {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 100%;
}
.search-form-inputs {
    flex: 1;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 24px 40px;
    border-radius: 32px;
    background-color: #fff;
}
.search-form-input-container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.search-slider {
    position: relative;
    //background-color: red;
}
.search-slider::before {
    content: "";
    position: absolute;
    left: 0;
    top: 39px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ccc;
}
.search-slider::after {
    content: "";
    position: absolute;
    right: 0;
    top: 39px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ccc;
}
.distance {
    font-weight: 900;
}

.search-animate-up {
    
}
.search-animate-down {
    position: fixed;
    top: unset;
    height: 100px;
    animation: search-animate-down 500ms forwards;
}
.search-animate-down .home-search-container {
    padding: 5px;
    border-radius: 50px;
}
.search-animate-down .search-form-inputs {
    padding: 15px 40px;
    border-radius: 46px;
}
.search-animate-down .search-button {
    padding: 28px;
    border-radius: 100px;
}
.search-animate-down .home-search-container form {
    gap: 5px;
}

.search-cards-skeleton {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba($bgColor, .7);
    z-index: 1;
}
.search-cards-skeleton > div {
    flex: 1;
    max-width: 300px;
    height: 200px;
    border-radius: 50px;
    background-color: #fff;
    background-image: linear-gradient(115deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, 0) 70%);
    background-size: 200%;
    animation: search-card-skeleton 1000ms linear infinite;
}

.input-error {
    position: absolute;
    top: -5px;
    width: 100%;
    padding: 5px;
    padding-bottom: 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 10px 10px 0 0;
    background-color: red;
    z-index: 1;
}
.search-form-input-container > :nth-child(2) {
    z-index: 2;
}

@media screen and (max-width: 960px) {
    .search-form-inputs {
        border-radius: 44px;
    }
    .search-animate-down .home-search-container {
        border-radius: 62px;
    }
    .search-animate-down .search-form-inputs {
        border-radius: 58px;
    }
}
@media screen and (max-width: 560px) {
    .search-form-inputs {
        flex-direction: column;
        align-items: stretch;
        border-radius: 44px;
        padding: 15px 20px;
    }
}

@keyframes search-card-skeleton {
    0% {
        background-position: 200% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

// Search bar animation
@keyframes search-animate-down {
    0% {
        bottom: -200px;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: 20px;
    }
}