@import "../../scss/variables";

.home-search-container form {
    display: flex;
    gap: 10px;
    height: 100%;
}

.search-form-inputs {
    display: flex;
    flex-basis: 85%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 50px;
    border-radius: 100px;
    background-color: #fff;
}
.search-form-inputs > input {
    flex: 1 1 auto;
    width: 0;
    min-width: 10px;
    height: 75px;
    border-radius: 10px;
}

.search-form-submit-button {
    flex-basis: 15%;
    border-radius: calc($borderRadiusChild - 10px) !important;
}

input[type="range"] {
    flex-shrink: 0;
    width: 200px;
    -webkit-appearance: none;
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 20px;
    border: 5px solid $primaryColor;
    border-radius: 30px;
    background-color: $secondaryColor;
}

input[type="range"]::-moz-range-track {
    height: 10px;
    border: 5px solid $primaryColor;
    border-radius: 30px;
    background-color: $secondaryColor;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    margin-top: -10px;
    border: 10px solid $textColor;
    border-radius: 50%;
    background-color: $secondaryColor;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    margin-top: -10px;
    border: 10px solid $textColor;
    border-radius: 50%;
    background-color: $secondaryColor;
}

.search-slider {
    position: relative;
}
.search-slider-indicator {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.search-slider-indicator-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 20px;
}
.search-slider-indicator-element > span:first-child {
    width: 2px;
    height: 4px;
    background-color: $textColor;
}
.search-slider-indicator-element > span:nth-child(2) {
    font-size: 12px;
    transition: transform 75ms;
}
.indicator-selected-value {
    font-weight: 900;
    transform: scale(2);
}

@-moz-document url-prefix() { 
    .search-slider-indicator {
        gap: 23px;
    }
  }

@media screen and (max-width: 1280px) {
    .search-form-inputs {
        flex-basis: 90%;
        padding: 0 25px;
    }
    .search-form-submit-button {
        flex-basis: 10%;
    }
}

@media screen and (max-width: 960px) {
    .search-form-inputs {
        border-radius: calc($borderRadiusChild - 12px);
    }
}

@media screen and (max-width: 560px) {
    .search-form-inputs {
        flex-direction: column;
        gap: 20px;
        border-radius: calc($borderRadiusChild - 22px);
    }
    .search-form-inputs > input {
        width: 100%;
        height: 30px;
        flex-grow: 0;
    }
}