@import "../../scss/variables";

.footer {
    display: grid;
    place-items: center;
    height: 450px;
    border-radius: $borderRadiusParent;
    background-color: $primaryColor;
}

.footer-heading {
    font-size: 48px;
}
