@import "../../scss/variables";

.search-bar-container {
    position: fixed;
    left: 150px;
    bottom: 50px;
    width: 700px;
    height: 240px;
    border-radius: 15px;
    transition: transform 250ms ease-in-out;
    overflow: hidden;
    background-color: $bgColor;
    z-index: 999;
}
.search-bar-snap-scrolled {
    transform: translateY(-70vh);
}

.search-bar-form {
    height: 100%;
    display: flex;
}
.search-bar-inputs {
    flex-basis: 100%;
    margin: 10px;
    border-radius: 25px;
    //background-color: white;
}
.search-bar-submit-button {
    all: unset;
    flex-basis: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: $primaryColor;
}
.search-bar-submit-button-icon {
    font-size: 30px;
    margin-right: 5px;
}