// LIGHT THEME:
$lightPrimaryColor: #61f3ac;
$lightSecondaryColor: #fff;
$lightBackgroundColor: #fcffcd;
$lightTextColor: #191913;
$lightAccentColor: #d41d6d;
$lightShadowColor: rgba(0, 0, 0, 0.24);


// DARK THEME:
$darkPrimaryColor: #61f3ac;
$darkSecondaryColor: #1a1a1a;
$darkBackgroundColor: #191913;
$darkTextColor: #f5f5f5;
$darkAccentColor: #d41d6d;
$darkShadowColor: rgba(0, 0, 0, 0.5);