// COLOURS
$primaryColor: #A9E23D;
$secondaryColor: #fff;
$accentColor: #d41d6d;
$bgColor1: #eeeff3;
$bgColor2: #000;
$textColor1: #262626;
$textColor2: #fbfbfb;


// FONT SIZES
$mainHeadingFontSize: 72px;
$h1FontSize: 32px;
$h2FontSize: 28px;
$bodyFontSize: 18px;


// BORDER RADIUS
$borderRadius1: 48px;
$borderRadius2: 30px;
