@import "../scss/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

.app-container {
    font-family: "Roboto", sans-serif;
    color: $textColor;
}
.app-container > div:not(.navigation-container) {
    //min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: $bgColor;
}

::-webkit-scrollbar-thumb {
    background: $bgColor;
    border-radius: $borderRadiusParent;
}

::-webkit-scrollbar-thumb:hover {
    background: $bgColor;
}
