@import "./themes.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    background: {
        image: url("../assets/pexels-ajdin-coric-16135959.jpg");
        position: center;
        repeat: no-repeat;
        size: cover;
        attachment: fixed;
    }
    font-family: "Roboto", sans-serif;
    @include themify($themes) {
        color: themed("textColor");
    }
}
.app-container > div:not(.navigation-container) {
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: "Abril Fatface", cursive;
}